$dividerColor: #e5e7e9; 
$backSections: #ffffff;
$fontColor: #8392a0;

body {
  background-color: #f1f5f6;
  #root {
    margin: 2% 10%;
    header {
      height: 50px;
      display: flex;
      align-content: center;
      .tittle {
        margin: 0 10px;
        font-weight: bold;
        color: $fontColor;
        width: 245px;
      }
      .ant-divider-vertical {
        height: 100%;
        width: 5px;
        color: $dividerColor;
      }
      .ant-divider-horizontal {
        height: 3px;
        color: $dividerColor;
      }
    }
    main {
      section, form {
        background-color: $backSections;
        padding: 25px;
      }
      form, .actions {
        margin: 25px 8px;
      }
      label {
        font-size: large;
        font-weight: bold;
        color: $fontColor;
      }
      .invoices {
        margin: 0 8px;
        table{
          td:nth-child(4) {
            width: 300px;
          }
        }
      }
      form {
        .ant-calendar-picker-large {
          width: 100%;
        }
        .submit {
          text-align: right;
        }
      }
    }
  }  
}
